<h3>Trip Flow</h3>

<div class="inputs">
  <input type="text" [(ngModel)]="startPoint" placeholder="Start Point">
  <input type="text" [(ngModel)]="endPoint" placeholder="End Point">
  <button class="addBtn" (click)="addTrip()">Add Trip</button>
</div>

<div class="trip-track" *ngIf="trips.length > 0">
  <div class="trip" *ngFor="let trip of trips; let i = index" [ngClass]="trip.type" [style.top.px]="trip.level === 2 ? 40 : 80">

    <div *ngIf="i > 0" class="line"></div>

    <!-- trip represented as dot -->
    <div class="dot"></div>

    <!-- trip represented as first 3 characters -->
    <div class="label">
      {{ trip.start.slice(0, 3) }} - {{ trip.end.slice(0, 3) }}
    </div>
  </div>
</div>
